* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2 {
	margin-bottom: 10px;
}

h3, h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
	background-color: #fff;
	color: #333;
	font-family: verdana, arial, helvetica, sans-sarif;
	font-size: 13px;
	margin: 33px;
}

td {
	padding: 5px;
}

.title-text {
	text-align: center;
	font-weight: bold;
}

a:hover {
	background-color: #fff;
	color: #000;
}

.headline {
	font-size: 2em;
	margin: 5px;
}

.posted {
	font-size: 13px;
	color: green;
	margin-bottom: 15px;
}

a:link {
	color: black;
}

a:visited {
	color: gray;
}

a:hover {
	background-color: gray;
	color: #000;
}